<!-- ******HEADER****** -->
<header class="header">
  <div class="container">
    <div class="my-name" style="padding-top:20px;">

      <div class="row" style="margin-top:0;">
        <div class="col-md-9">
          <h2 style="font-size:38px"><strong>GABOR Farkas</strong></h2>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:20px;">
      <div class="col-md-3"> <!-- Image -->
        <a href="#"> <img class="rounded-circle" [src]="'FG200.jpg'" alt="Gabor" style="width:200px;height:200px"></a>
      </div>

      <div class="col-md-6"> <!-- Rank & Qualifications -->
        <h5 style="color:#3AAA64">Java Developer </h5>
        <p>Budapest, Hungary</p>
      </div>

      <div class="col-md-3 text-center"> <!-- Phone & Social -->
        <span class="number" style="font-size:18px">Phone:<strong>+36-70-416-6061</strong></span>
        <div class="button" style="padding-top:18px">
          <a routerLink="/contact" class="btn btn-outline-success btn-block">Send Email</a>
        </div>
        <div class="social-icons" style="padding-top:18px">
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span></a>
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span></a>
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span></a>
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-slideshare fa-stack-1x fa-inverse"></i>
            </span></a>

        </div>
      </div>
    </div>
  </div>
</header>
<!--End of Header-->

<!-- Main container -->
<div class="container">

  <!-- Section:Biography -->
  <div class="row">
    <div class="col-md-12">
      <div class="card card-block text-xs-left">
        <h2 class="card-title" style="color:#009688"><i class="fa fa-user fa-fw"></i>Biography</h2>
        <div style="height: 15px"></div>
        I am a Java developer who has started a Java boot camp in 2019 september and will finish it in 2020 January.
        It's about Java SE, Swing, Java EE, Android Studio. Meanwhile I am using Spring Boot to show my actual knowledge on my website.
        I've used Microsoft Excel for my work using built-in functions to ease my life.
        After a while, I used VBA to speed up processes and to automate them. Until 2017 I just use VBA and Excel besides my daily tasks.
        In 2017 I attended a Java course. It was a starter course (Java programmer 1.) but was enough tomake me change my carrier.
        Now I'd like to be a full-time developer.
        <br><br>
        <div>What makes me a good developer?</div>
        I always want to be better.
        <br><br>
        Kind regards,
        <br><br>
        Gabor Farkas
      </div>
    </div>
  </div>
  <!-- End:Biography -->

</div> <!--End of Container-->
