<input class="form-control" id="aStarStartX" maxlength="2"
       placeholder="00" size="2" type="hidden"
       value="0">
<input class="form-control" id="aStarStartY" maxlength="2"
       placeholder="00" size="2" type="hidden"
       value="0">
<input class="form-control" id="aStarEndX" maxlength="2"
       placeholder="00" size="2" type="hidden"
       value="9">
<input class="form-control" id="aStarEndY" maxlength="2"
       placeholder="00" size="2" type="hidden"
       value="9">
<input class="form-control" id="startNode" maxlength="20" size="20" type="hidden">


<input class="form-control" id="endNode" maxlength="20" size="20" type="hidden">


<input class="form-control" id="clickedItem" maxlength="20" size="20" type="hidden">


<input class="form-control" id="blockedItems" maxlength="20" size="20" type="hidden">
