<!-- ******HEADER****** -->
<header class="header">
  <div class="container">
    <div class="my-name" style="padding-top:20px;">

      <div class="row" style="margin-top:0;">
        <div class="col-md-9">
          <h2 style="font-size:38px"><strong>GABOR Farkas</strong></h2>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:20px;">
      <div class="col-md-3"> <!-- Image -->
        <a href="#"> <img class="rounded-circle" [src]="'FG200.jpg'" alt="Gabor" style="width:200px;height:200px"></a>
      </div>

      <div class="col-md-6"> <!-- Rank & Qualifications -->
        <h5 style="color:#3AAA64">Java Developer </h5>
        <p>Budapest, Hungary</p>
      </div>

      <div class="col-md-3 text-center"> <!-- Phone & Social -->
        <span class="number" style="font-size:18px">Phone:<strong>+36-70-416-6061</strong></span>
        <div class="button" style="padding-top:18px">
          <a routerLink="/contact" class="btn btn-outline-success btn-block">Send Email</a>
        </div>
        <div class="social-icons" style="padding-top:18px">
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span></a>
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span></a>
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span></a>
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
              <i class="fa fa-slideshare fa-stack-1x fa-inverse"></i>
            </span></a>

        </div>
      </div>
    </div>
  </div>
</header>
<!--End of Header-->
<!-- Main container -->
<div class="container">

  <!-- Section:Biography -->
  <div class="row">
    <div class="col-md-12">
      <div class="card card-block text-xs-left">
        <h2 class="card-title" style="color:#009688"><i class="fa fa-user fa-fw"></i>Github</h2>
        <div style="height: 15px"></div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link"
               href="https://github.com/gFarkas1981/JavaCourse/blob/master/74.%20TicTacToe/src/com/gfarkas/Game.java"
               target="_blank">
              TicTacToe with MiniMax Algorithm</a>
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="https://github.com/gFarkas1981/MaxSumOfNumbers" target="_blank">Max-->
<!--              sum of number according to given rules - JavaScript</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="https://github.com/gFarkas1981/Euler-&#45;&#45;SpringBoot"-->
<!--               target="_blank">Project Euler - Spring Boot</a>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
  </div>
  <!-- End:Biography -->

</div> <!--End of Container-->
