<div class="row upperRow">
  <div class="col-sm-4 pleaseEnternumber">
    Please, enter an integer number here:
  </div>
  <div class="col-sm">
    <input class="form-control" id="name" maxlength="8"
           placeholder="00000000" size="8"
           type="text">
  </div>
  <div class="col-sm">
    <button class="btn btn-success btn-sm" id="sendIsPrime" type="submit">Prime?
    </button>
  </div>
  <div class="col-sm">
    <button class="btn btn-success btn-sm" id="sendReverseNumber" type="submit">Reverse
    </button>
  </div>
  <div class="col-sm">
    <button class="btn btn-success btn-sm" id="sendIsPalindrome" type="submit">Palindrome?
    </button>
  </div>
  <div class="col-sm">
    <button class="btn btn-success btn-sm" id="sendFibonaccisUnder" type="submit">Fibonaccis
    </button>
  </div>
  <div class="col-sm">
    <button class="btn btn-success btn-sm" id="sendLargestPrimeFactor" type="submit">LargestPrimeFactor
    </button>
  </div>
</div>
